.mini-sezione {
  width: fit-content;
  height: fit-content;
}

.gadget-card-container {
  margin-top: 90px;
  display: flex;
  flex-wrap: wrap;
  /* justify-content: center; */
  /* align-items: center; */
}
.sottotitolo {
  font-weight: bold;
  font-size: 4.6vh;
  margin-top: 15px;
}

.foto-gadget {
  width: 100%;
}
.testo-piccolo {
  margin-left: 9px !important;
  margin-right: 9px !important;
}
.gadget-card > .sottotitolo {
  margin-left: 9px !important;
  margin-bottom: 7px !important;
}

.gadget-card {
  background: #fff;
  padding: 0px 0px 10px 0px;
  /* padding: 20px; */
  border-radius: 8px;
  box-shadow: 0 14px 26px rgba(0, 0, 0, 0.3);

  height: fit-content;
  margin-right: 20px;
}
